/* 夜间模式专用样式 */


.dark-mode .drawing-board-header-apple {
  background: rgba(71, 135, 231, 0.6);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.dark-mode .drawing-board-header-apple h1 {
  color: #fdfdfd ;
}

.dark-mode .archives-title {
  color: #1b73e6;

}
.dark-mode .flash-footer {
  background: #021132;

}